.bread-crumps
  .item-scope
    %ul
      %li.item-scope-list
        メルカリ
        = fa_icon 'chevron-right', class: "item-scope-right"
      %li.item-scope-list
        マイページ
        = fa_icon 'chevron-right', class: "item-scope-right"
      %li.item-scope-list
        プロフィール
