.buy-single-container {
  background-color: $mainBackgroundGray;
  &__body {
    background-color: $white;
    margin: 0 auto;
    width: 700px;
    &-title {
      font-size: 22px;
      font-weight: bold;
      padding: 32px 16px;
      line-height: 1.5;
      text-align: center;
    }
  }

  .buy-content {
    border-top: 1px solid #f5f5f5;
    padding: 24px 12.5% 0;
    text-align: center;
    &-inner {
      max-width: 320px;
      margin: 0 auto;
      text-align: center;
      &__photo {
        display: inline-block;
        width: 148px;
        text-align: center;
        &-img {
          width: 148px;
          text-align: center;
        }
      }
      &__name {
        margin: 8px 0 0;
        font-size: 16px;
        line-height: 1.5;
        font-weight: bold;
      }
      &__price {
        margin: 8px 0 0;
        line-height: 1.5;
        &--bold {
          display: inline-block;
          font-weight: bold;
          font-size: 28px;
        }
        &--normal {
          display: inline-block;
          font-size: 14px;
        }
      }
      &__point {
        margin: 16px 0 0;
        padding: 24px;
        background-color: #ccc;
        border: 1px solid #ccc;
        line-height: 1.5px;
      }
      &__pay-price {
        @include clearfix;
        margin: 8px 0 0;
        font-size: 28px;
        font-weight: bold;
        &-leftbox {
          float: left;
        }
        &-rightbox {
          float: right;
        }
      }
      &__alert {
        margin: 8px 0 0;
        color: #ea352d;
        line-height: 1.5;
        font-size: 14px;
      }
      &__send-btn {
        display: block;
        width: 100%;
        text-align: center;
        line-height: 48px;
        font-size: 14px;
        margin: 16px 0 0;
        color: $white;
        background-color: #888;
        border: 1px solid #888;
      }
    }
  }
  .buy-user-info {
    padding: 24px 12.5% 40px;
    &-inner {
      margin: 40px auto 0;
      padding: 24px 12.5% 0;
      border-top: 1px solid #f5f5f5;
      max-width: 320px;
      width: 320px;
      font-size: 14px;
      &__address {
        width: 320px;
        h3 {
          font-weight: bold;
        }
        &-text {
          margin: 8px 0 0;
          line-height: 1.4;
        }
        &-change {
          display: block;
          color: $lightBlue;
          text-align: right;
          text-decoration: none;
        }
      }
      &__pay-fix {
        width: 320px;
        h3 {
          font-weight: bold;
        }
        &-method {
          margin: 8px 0 0;
          line-height: 1.4;
        }
        &-change {
          display: block;
          color: $lightBlue;
          text-align: right;
          text-decoration: none;
        }
      }
    }
  }
}
