.body{
  width: 100vw;
  background-color: $mainBackgroundGray;
  padding-bottom: 40px;
  &__top-banner{
    height: 100%;
    width: 100vw;
    &-picture {
      width: 100vw;
      a {
        display: block;
        width: 100%;
        img {
          display: block;
          min-height: 390px;
          width: 100%;
        }
      }
    }
  }
  &-pickup{
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
    width: 940px;

    .pickup__title{
      font-size: 1.5em;
      margin: auto;
      text-align: center;
      font-weight: bold;
    }
    .pickup-content{
      width: 940px;
      margin: auto 0;
      &__title{
        margin: 26px 11px;
        text-align: center;
        .pickup-content__title-link{
          font-size: 18px;
          color: $lightBlue;
          text-decoration: none;
          font-weight: bold;
        }
      }
      &-items{
        width: 940px;
        height: 330px;
        &-box{
          width: 213px;
          height: 330px;
          float: left;
          margin: 0 0 0 20px;
          background-color: $white;
          .pickup-content__title-link{
            text-decoration: none;
            color: #333;
            height: 100px;
            .pickup-content-items-box__img{
              width: 213px;
              height: 213px;
              overflow: hidden;
            }
            .pickup-content-items-box-body{
              padding: 16px;
              height: 110px;
              &__name{
                overflow: hidden;
                height: 3em;
                line-height: 1.5;
                word-break: break-word;
                white-space: normal;
              }
              &__price{
                float: left;
                font-size: 20px;
                font-weight: 600;
              }
              &__favorite{
                float: right;
                margin-top: 6px;
                .favorite--gray{
                  margin-right: 10px;
                  color: gray;
                }
                &-num{
                  float: right;
                }
              }
              &__tax{
                clear:both;
                font-size: 10px;
              }
            }
          }
        }
      }
      .pick-up-content__view-all{
        float: right;
        text-decoration: none;
        color: #0099e8;
        margin-right: 8px;
        padding: 20px 0 30px;
        width: 940px;
        text-align: right;
        font-size: 14px;
      }
    }
  }
  .footer-sell-btn {
    position: fixed;
    width: 160px;
    height: 160px;
    font-size: 22px;
    bottom: 32px;
    right: 32px;
    z-index: 1000;
    border-radius: 50%;
    background-color: #ea352d;
    color: $white;
    text-align: center;
    text-decoration: none;
    p {
      margin-top: 32px;
    }
    i {
      margin-top: 8px;
      font-size: 54px;
    }
  }
}
