.header{
  &-top{
    height: 36px;
    width: 1020px;
    margin:0 auto;
    padding-top: 6px;
    &__title{
      height: 36px;
      width: 134px;
      float: left;
    }
    &__search{
      height: 18px;
      width: 830px;
      margin-left: 10px;
      padding: 9px 32px 9px 8px;
      float: right;
      border: 0.5px #CCCCCC solid;
      border-radius: 3px;
      color: #000;
      background-color: $mainBackgroundGray;
      position: relative;
      &-icon{
        position: absolute;
        right: 390px;
        top: 15px;
      }
    }
  }
  &-bottom{
    margin:0 auto;
    height: 38px;
    width: 1020px;
    padding-top: 8px;
    &--left{
      float: left;
      // height: 32px;
      background-color: $white;
      .pc-header-nav {
        display: flex;
        list-style: none;
        li {
          position: relative;
          display: block;
        }
        h2 {
          font-size: 14px;
          font-weight: 400px;
        }
        a {
          display: block;
          color: #333;
        }
        &-root {
          position: relative;
          height: 38px;
          line-height: 32px;
          font-size: 14px;
          text-decoration: none;
        }
        &__parent {
          display: block;
          width: 224px;
          clear: both;
          h3 {
            font-size: 14px;
            font-weight: 400px;
            a {
              line-height: 44px;
              padding: 0 16px;
            }
          }
        }
        &__parent-wrap {
          position: absolute;
          top: 38px;
          left: -34px;
          z-index: 1000;
          background-color: $white;
          box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
          list-style: none;
          a {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
          }
        }
        &__child {
          display: block;
          width: 224px;
          h3 {
            font-size: 14px;
            font-weight: 400px;
            a {
              padding: 8px 16px;
            }
          }
        }
        &__child-wrap {
          position: absolute;
          top: 0px;
          left: 224px;
          z-index: 1000;
          background-color: $white;
          box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
          list-style: none;
          a {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
          }
        }
        &__grand-child {
          display: block;
          width: 224px;
          a {
            padding: 8px 16px;
          }
        }
        &__grand-child-wrap {
          position: absolute;
          top: 0px;
          left: 224px;
          z-index: 1000;
          background-color: $white;
          box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
          list-style: none;
        }
      }
      &__nav-link-item{
        text-decoration: none;
        color: $black;
        font-size: 14px;
        line-height: 32px;
        height: 38px;
      }
      &__nav-brand{
        text-decoration: none;
        color: $black;
        font-size: 14px;
        padding: 0 0 0 16px;
        line-height: 32px;
        height: 38px;
      }
    }
    &--right{
      height: 32px;
      float: right;
      &__nav{
        &-mypage{
          display: inline-block;
          padding: 0 0 0 16px;
          &-link{
            text-decoration: none;
            color: $black;
            .member-photo-dummy{
              .member-photo{
                width: 32px;
                height: 32px;
                border-radius: 50%;
                vertical-align: middle;
              }
            }
            .text-mypage{
              display: inline-block;
              font-size: 14px;
            }
          }
        }
        &-news{
          font-size: 14px;
          display: inline-block;
          padding: 0 0 0 16px;
          line-height: 32px;
          position: relative;
          &-link{
            text-decoration: none;
            color: $black;
            .bell{}
          }
        }
        &-todo{
          font-size: 14px;
          display: inline-block;
          padding: 0 0 0 16px;
          line-height: 32px;
          position: relative;
          &-link{
            text-decoration: none;
            color: $black;
            .check{}
          }
        }
        &-sign-in{
          font-size: 14px;
          display: inline-block;
          padding: 0 10px;
          line-height: 32px;
          position: relative;
          background: $mercariRed;
          border: 1px solid $mercariRed;
          border-radius: 4px;

          .sign-in-tag{
            text-decoration: none;
            color: #fff;
            text-align: center;

          }
        }
        &-sign-up{
          font-size: 14px;
          display: inline-block;
          padding: 0 10px;
          line-height: 32px;
          position: relative;
          background: $white;
          border: 1px solid $lightBlue;
          border-radius: 4px;
          .sign-up-tag{
            text-decoration: none;
            color: $lightBlue;
            text-align: center;
          }
        }
      }
    }
  }
}
