.message-content
  .message-content__item
    .message-content__item-leftbox
      = image_tag("member_photo_noimage_thumb.png", class: "message-content__item-leftbox-user" )
    .message-content__item-rightbox
      .message-content__item-rightbox-name 山田太郎
      .message-content__item-rightbox-comment
        .message-content__item-rightbox-text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        .message-content__item-rightbox-icon
          .message-content__item-rightbox-icon-left アイコン左側
          .message-content__item-rightbox-icon-right アイコン右側
  .message-content__item
    .message-content__item-leftbox
      = image_tag("member_photo_noimage_thumb.png", class: "message-content__item-leftbox-user" )
    .message-content__item-rightbox
      .message-content__item-rightbox-name 山田太郎
      .message-content__item-rightbox-comment
        .message-content__item-rightbox-text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        .message-content__item-rightbox-icon
          .message-content__item-rightbox-icon-left アイコン左側
          .message-content__item-rightbox-icon-right アイコン右側
  .message-content__item
    .message-content__item-leftbox
      = image_tag("member_photo_noimage_thumb.png", class: "message-content__item-leftbox-user" )
    .message-content__item-rightbox
      .message-content__item-rightbox-name 山田太郎
      .message-content__item-rightbox-comment
        .message-content__item-rightbox-text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        .message-content__item-rightbox-icon
          .message-content__item-rightbox-icon-left アイコン左側
          .message-content__item-rightbox-icon-right アイコン右側
  .message-content__item
    .message-content__item-leftbox
      = image_tag("member_photo_noimage_thumb.png", class: "message-content__item-leftbox-user" )
    .message-content__item-rightbox
      .message-content__item-rightbox-name 山田太郎
      .message-content__item-rightbox-comment
        .message-content__item-rightbox-text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        .message-content__item-rightbox-icon
          .message-content__item-rightbox-icon-left アイコン左側
          .message-content__item-rightbox-icon-right アイコン右側
