.header {
  text-align: center;
  h1 {
    margin-top: 40px;
    display: inline-block;
  }
  &__progress-bar {
    padding: 40px 0 0 44px;
    display: inline-block;
    vertical-align: top;

    li {
      display: inline-block;
      list-style-type: none;
      min-width: 60px;
      margin-right: 40px;
      float: left;
      font-size: 12px;
      position: relative;
      text-align: center;
      color: #aaa;
    }

    &__status {
      &:before {
        width: 12px;
        height: 12px;
        content: '';
        line-height: 30px;
        display: block;
        text-align: center;
        margin: 10px auto 0 auto;
        border-radius: 50%;
        background-color: #eee;
      }
      &:after {
        width: 100%;
        height: 2px;
        content: '';
        position: absolute;
        background-color: #eee;
        top: 15px;
        left: -50%;
        z-index: -1;
      }
      &:first-child:after {
        content: none;
      }

      .active {
        color: $mercariRed;
        &:before {
          background-color: $mercariRed;
          color: $white;
        }

        + li:after {
          background-color: $mercariRed;
        }
      }
    }
  }
}
