.single-main {
  display: block;
  &__login-container {
    width: 456px;
    height: 731px;
    margin: 0 auto;
    background-color: $white;

    a {
      text-decoration: none;
    }

    .btn-default {
      @include btnDefault;
    }

    &__no-account {
      padding: 40px 64px;
      text-align: center;
      font-size: 14px;

      .btn-registration {
        position: relative;
        background-color: $lightBlue;
        color: $white;
        margin-top: 8px;
      }
    }

    &__sns {
      border-top: 1px solid $mainBackgroundGray;
      padding: 32px 64px;

      .btn-sns {
        position: relative;
        color: $white;

        &__facebook {
          background-color: $facebookBlue;
          .icon-facebook {
            @include iconPosition;
          }
        }

        &__google {
          background-color: $googleRed;
          margin-top: 16px;
          .icon-google {
            @include iconPosition;
          }
        }
      }
    }

    &__mail {
      padding: 0 64px 32px;

      &__field {
        margin-top: 24px;
        & :first-of-type {
          margin-top: 0;
        }

        input {
          width: 328px;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid $gray;
          box-sizing: border-box;
          font-size: 16px;
        }
      }

      .btn-red {
        background-color: $mercariRed;
        position: relative;
        margin-top: 16px;
        color: $white;
      }

      &__forget-pw{
        margin-top: 40px;
        font-size: 12px;
        color: $lightBlue;
      }
    }
  }
}
